<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Acceleration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>X : {{accX}} m/s2</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Y : {{accY}} m/s2</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Z : {{accZ}} m/s2</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>