<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="battery">
      <ion-icon name="battery-full"></ion-icon>
      <ion-label>Battery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acceleration">
      <ion-icon name="walk"></ion-icon>
      <ion-label>Acceleration</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sound">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Sound</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>