<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Battery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Charge Level</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title style="font-size:50px">{{getCharge()}}</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title> {{ chargingStatus() }}</ion-card-title>
    </ion-card-content>
  </ion-card>

  {{ isCritical() }}

</ion-content>